<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кабинет</title>
    <script defer src="/static/js/core/auth.js"></script>
    <script defer src="/static/js/core/protected.js"></script>
    <script defer src="/static/js/features/users/profile.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
    <button onclick="window.location.href='/static/templates/posts/list.html'">Перейти на страницу всех постов</button>
    <button onclick="logout()">Выйти</button>

    <h1>Личный кабинет</h1>
    <p id="username">Загрузка...</p>
    <p id="user-email">Загрузка...</p>
    <p id="is-superuser"></p>
</body>
</html>
