<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная - Создание постов</title>
    <script src="/static/js/auth.js"></script>
    <script src="/static/js/protected.js" defer></script>
    <script defer src="/static/js/index.js"></script>
<!--    <script defer src="/static/js/dashboard.js"></script>-->
</head>
<body>
    <button onclick="window.location.href='/static/templates/index.html'">Перейти на главную</button>
    <button onclick="window.location.href='/static/templates/dialog.html'">Перейти к диалогам</button>
    <button onclick="logout()">Выйти</button>

    <h3>User:</h3>
    <p id="username">Загрузка...</p>
    <p id="user-email">Загрузка...</p>
    <p id="is-superuser"></p>

    <hr>

    <h2>Создать новый пост</h2>
    <form id="create-post-form">
        <div>
            <label for="post-title">Заголовок:</label>
            <input type="text" id="post-title" required>
        </div>

        <div>
            <label for="post-content">Содержание:</label>
            <textarea id="post-content" rows="6" cols="50" required></textarea>
        </div>

        <div>
            <label for="post-tags">Теги (через запятую):</label>
            <input type="text" id="post-tags" placeholder="python, algorithms, database">
        </div>

        <button type="submit">Создать пост</button>
    </form>

    <div id="post-message" style="margin-top: 20px;"></div>

    <hr>

    <h2>Мои посты</h2>
    <div id="posts-list"></div>


</body>
</html>