<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <script src="/static/js/auth.js"></script>
    <script defer src="/static/js/register.js"></script>
</head>
<body>
    <button onclick="window.location.href='/static/templates/login.html'">Залогиниться</button>
    <button onclick="window.location.href='/static/templates/index.html'">Перейти на главную</button>
    <h1>Регистрация</h1>
    <form onsubmit="register(event)">
        <input type="text" id="username" placeholder="Username" required>
        <br>
        <input type="email" id="email" placeholder="Email" required>
        <br>
        <input type="password" id="password" placeholder="Пароль" required>
        <br>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <div id="message"></div>
</body>
</html>
