<header>
    <nav>
        <div id="auth-buttons">
            <button onclick="window.location.href='/static/templates/auth/login.html'">Войти</button>
            <button onclick="window.location.href='/static/templates/auth/register.html'">Регистрация</button>
            <button onclick="window.location.href='/static/templates/index.html'">Перейти на главную</button>
            <button onclick="window.location.href='/static/templates/posts/posts.html'">Перейти на страницу всех постов</button>
            <button onclick="window.location.href='/static/templates/dialog.html'">Перейти к диалогам</button>
            <button onclick="window.location.href='/static/templates/users/profile.html'">Личный кабинет</button>
            <button onclick="logout()">Выйти</button>
            <button id="theme-toggle" class="btn btn-ghost" aria-label="Переключить тему">🌙</button>
        </div>
    </nav>
</header>
