<header>
    <nav>
        <div id="auth-buttons">
            <button onclick="window.location.href='/static/templates/auth/login.html'">Войти</button>
            <button onclick="window.location.href='/static/templates/auth/register.html'">Регистрация</button>
            <button onclick="window.location.href='/static/templates/posts/list.html'">Перейти на страницу всех постов</button>
            <button onclick="window.location.href='/static/templates/users/profile.html'">Личный кабинет</button>
            <button onclick="logout()">Выйти</button>
        </div>
    </nav>
</header>
